#jinja2: lstrip_blocks: True
{%- set haproxy = service.haproxy|default({}) %}
{%- for haproxy_name, haproxy_service in haproxy.items() %}
{% set external = haproxy_service.external|default(false)|bool %}
{% if haproxy_service.enabled|bool and (not external or haproxy_enable_external_vip|bool)%}
{% if external|bool %}
listen nova_novncproxy_external
    mode http
    maxconn 5000
    timeout tunnel 1h
    option httplog
    option forwardfor
    bind 10.254.203.1:8060 ssl crt /etc/haproxy/haproxy.pem
    server hht3f-vtn02-ctl-10254203002 10.8.0.2:8060 check inter 2000 rise 2 fall 5 ssl verify none
    server hht3f-vtn02-ctl-10254203003 10.8.0.3:8060 check inter 2000 rise 2 fall 5 ssl verify none
    server hht3f-vtn02-ctl-10254203004 10.8.0.4:8060 check inter 2000 rise 2 fall 5 ssl verify none

{% else %}
listen nova_novncproxy
    mode http
    maxconn 5000
    timeout tunnel 1h
    option httplog
    option forwardfor
    bind 10.8.0.1:8060 ssl crt /etc/haproxy/haproxy.pem
    server hht3f-vtn02-ctl-10254203002 10.8.0.2:8060 check inter 2000 rise 2 fall 5 ssl verify none
    server hht3f-vtn02-ctl-10254203003 10.8.0.3:8060 check inter 2000 rise 2 fall 5 ssl verify none
    server hht3f-vtn02-ctl-10254203004 10.8.0.4:8060 check inter 2000 rise 2 fall 5 ssl verify none

{% endif %}
{% endif %}
{%- endfor -%}
