<match syslog.{{ syslog_swift_facility }}.**>
  @type copy
  <store>
    @type file
    path /var/log/kolla/swift/swift_latest.*.log
    utc
    append true
    compress gzip
  </store>
{% if enable_elasticsearch | bool or
      elasticsearch_address != kolla_internal_vip_address %}
  <store>
    type elasticsearch
    host {{ elasticsearch_address }}
    port {{ elasticsearch_port }}
{% if es_enable_xpack | bool and es_fluentd_username is defined and es_fluentd_password is defined %}
    user {{ es_fluentd_username }}
    password {{ es_fluentd_password }}
    reload_connections false
    reload_on_failure false
{% endif %}
    logstash_format true
    logstash_prefix {{ kibana_log_prefix }}
    include_tag_key true
    tag_key tag
    flush_interval {{ fluentd_flush_interval }}
  </store>
{% endif %}
</match>

<match syslog.{{ syslog_haproxy_facility }}.**>
  @type copy
  <store>
    @type file
    path /var/log/kolla/haproxy/haproxy_latest.*.log
    output_tag false
    output_time false
    utc
    append true
    compress gzip
  </store>
{% if enable_elasticsearch | bool or
      elasticsearch_address != kolla_internal_vip_address %}
  <store>
    type elasticsearch
    host {{ elasticsearch_address }}
    port {{ elasticsearch_port }}
{% if es_enable_xpack | bool and es_fluentd_username is defined and es_fluentd_password is defined %}
    user {{ es_fluentd_username }}
    password {{ es_fluentd_password }}
    reload_connections false
    reload_on_failure false
{% endif %}
    logstash_format true
    logstash_prefix {{ kibana_log_prefix }}
    include_tag_key true
    tag_key tag
    flush_interval {{ fluentd_flush_interval }}
  </store>
{% endif %}
</match>
