NAME={{ item }}
DEVICE={{ item }}
BONDING_MASTER=yes
TYPE=Bond
ONBOOT=yes
BOOTPROTO=none
PEERDNS=yes
BONDING_OPTS="mode=802.3ad miimon=100 lacp_rate=1 xmit_hash_policy=layer3+4"
NM_CONTROLLED=no
USERCTL=no
