{% set fluentd_dir = 'td-agent' if kolla_base_distro in ['ubuntu', 'debian'] else 'fluentd' %}
<source>
  @type tail
  path /var/log/ceph/ceph.log,/var/log/ceph/ceph.audit.log
  pos_file /var/run/{{ fluentd_binary }}/ceph_0.pos
  tag ceph.*
  format /^(?<Timestamp>\d{4}-\d{1,2}-\d{1,2}\S+) (?<Daemon_name>\S+) \((?<Daemon_id>\S+)\) (?<Pid>\S+)\s+:\s+(?<Type>\S+) \[(?<log_level>\S+)\] (?<Payload>.*)?$/
  read_from_head true
  time_key Timestamp
  time_type string
  keep_time_key true
  time_format %FT%T.%L
</source>

<source>
  @type tail
  path /var/log/ceph/ceph-*.*.log,/var/log/ceph/remote-*.*.log
  pos_file /var/run/{{ fluentd_binary }}/ceph_1.pos
  tag ceph.*
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<Timestamp>\d{4}-\d{1,2}-\d{1,2}\S+)\s+(?<Memory_address>\S+)\s+(?<Log_level>\S+)\s+(?<Payload>.*)?$/
  read_from_head true
  time_key Timestamp
  time_type string
  keep_time_key true
  time_format %FT%T.%L
</source>

