# Get sudo and ssh event
# Using new rewrite_tag_filter format, rewriteruleX format will be deprecated.
<match syslog.authpriv.**>
    @type copy
    deep_copy true
    <store>
        @type rewrite_tag_filter
        capitalize_regex_backreference yes
        <rule>
            key ident
            pattern ^sudo$
            tag sudo
        </rule>
        <rule>
            key ident
            pattern ^sshd$
            tag sshd
        </rule>
    </store>
    <store>
        @type rewrite_tag_filter
        capitalize_regex_backreference yes
        <rule>
            key ident
            pattern .*
            tag syslog_flog.${tag} # Copy syslog authpriv to flog as well.
        </rule>
    </store>
</match>

# This one matches for the exect sudo syslog messages that we want to parse
# and re-tags it with syslog_sudo
<match sudo>
    @type rewrite_tag_filter
    <rule>
        key message
        pattern TTY=[^ ]+ ; PWD=[^ ]+ ; USER=[^ ]+ ; COMMAND=.*$
        tag syslog_sudo
    </rule>
</match>

# This one matches for the exect ssh syslog messages that want to be parse
# and re-tags it with syslog_ssh
<match sshd>
    @type rewrite_tag_filter
    <rule>
        key message
        pattern ^Accepted.*$
        tag syslog_ssh_connect
    </rule>
    <rule>
        key message
        pattern ^Received.*$
        tag syslog_ssh_disconnect
    </rule>
</match>
