{
    "command": "nova-novncproxy",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        }{% if nova_novncproxy_pem.stat.islnk is defined %},
        {
            "source": "{{ container_config_directory }}/nova-novncproxy.pem",
            "dest": "/etc/nova/nova-novncproxy.pem",
            "owner": "nova",
            "perm": "0400"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/nova",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
